* {
    color: var(--font-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Comfortaa;
    font-size: 1rem;
    line-height: 1.58;
    color: var(--font-color);
    background: var(--color-secondary);
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: Comfortaa;
    src: url("../Media/Comfortaa-Bold.ttf");
}

.column {
    float: left;
    width: 25%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0 10px;
}


.row {
    margin: 0 -5px;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .team {
        display: none;
        transform: translateY(-1vh);
        width: 100%;
    }

    .project {
        width: 90%;
    }
}

a {
    text-decoration: none;
    font-size: 22px;
    background: transparent;
}

button:hover, a:hover {
    opacity: 0.7;
}

h1, h2, h3, h4{
    text-align: center;
}

h5{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: right;
    font-size: 60px;
}

h6{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: left;
    font-size: 60px;
}

h1 {
    font-size: 100px;
    font-family: Comfortaa;
}

h2 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Comfortaa;
}

.title-div {
    background: var(--color-secondary);
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    margin: 20px;
}


.project{
    font-family: Arial;
    margin: auto;
    text-align: justify;
    width: 60%;
    font-size: 20px;
    letter-spacing: 2px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

td{
    width: 20%;
    text-align: center;
}

.techStack{
    font-family: Comfortaa;
    font-size: 32px;
    width: 110%;
    transform: translateY(-5vh);
}
.techStack tr td p{
    height: 7vh;
    text-align: center;
    vertical-align: middle;
}

.java{
    text-align: center;
}

tr{
    height: 15vh;
    margin: 0;
}

th {
    border: 0px solid #000000;
    padding: 5px;
}

i {
    background: transparent;
}

.hidden{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-10vw);
}
.hidden2{
    opacity: 0;
    transition: all 2s;
    transform: translateX(10vw);
}

.hidden3{
    opacity: 0;
    transition: all 2s;
    transform: translateY(10vh);
}

.hidden4{
    opacity: 0;
    transition: all 2s;
    transform: translateY(-10vh);
}
.show{
    opacity: 1;
    transform: translateX(0vw);
    transform: translateY(0vh);
}

.card_item:nth-child(2){
    transition-delay: 200ms;
}
.card_item:nth-child(3){
    transition-delay: 400ms
}
.card_item:nth-child(4){
    transition-delay: 600ms
}
.card_item:nth-child(5){
    transition-delay: 800ms
}

.text:nth-child(2){
    transition-delay: 400ms
}

.text:nth-child(3){
    transition-delay: 800ms
}
.text:nth-child(4){
    transition-delay: 1200ms
}
.text:nth-child(5){
    transition-delay: 1600ms
}
.text:nth-child(6){
    transition-delay: 2000ms
}
.text:nth-child(7){
    transition-delay: 2400ms
}

strong {
    background: transparent;
}

.alert {
    text-align: center;
    padding: 20px;
    background-color: #2196F3;
    color: #000000;
}
.alert span {
    background: transparent;
}

.alert .signature {
    font-size: 12px;
    font-style: italic;
    background: transparent;
    float: right;
    text-align: right;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.closebtn:hover {
    color: black;
}

body {
    background: var(--color-secondary);
}

#load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
}

#load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family: Comfortaa;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#35C4F0;
}

#load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}

@keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left: 41%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-moz-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -moz-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -webkit-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-o-keyframes move {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left:41%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        opacity:0;
    }
}


.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: grid;
    }
}


.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: grid;
}
div.card {
    width: 280px;
    background: var(--color-secondary);
    border-radius: 5px;
    box-shadow: 0 2px 4px #1b1b1b33;
    margin: 15px;
    transition: all 0.3s;
    text-align: center;
}

div.card-image {
    width: 100%;
    height: 230px;
    border-radius: 5px 5px 0 0;
}

div.card-image img {
    width: 100%;
    max-width: 100%;
    height: 230px;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s;
}

div.card-description {
    width: 100%;
    height: auto;
    background: var(--color-secondary);
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

div.card-description h3 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

div.card-description p {
    color: #89ba16;
    font-size: 14px;
    margin-bottom: 16px;
}

div.card-description a {
    color: #89ba16;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

div.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 30px -5px rgba(10, 16, 34, 0.2);
}

div.card-image img:hover {
    opacity: 0.8;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: grid;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: grid;
        margin-bottom: 20px;
    }
}

/*----------------------------DAVE AGYMENESE---------------------------*/

.wrapper .header{
    width: 100%;
    height: 50px;
    color: var(--font-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 900;
}

.cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.cards_wrap .card_item{
    padding: 15px 25px;
    width: 20%;
    transition: all 0.6s;
}

.cards_wrap .card_item:hover {
    transform: scale(1.05);
}

.card_item i {
    text-align: center;
    color: #777777;
}

.cards_wrap .card_inner{
    background: var(--color-secondary);
    border-radius: 5px;
    padding: 35px 20px;
    width: 100%;
}

.cards_wrap .card_item img{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    transition: all 0.6s;
}

.cards_wrap .card_item img:hover {
    opacity: 0.87;
}

.cards_wrap .card_item .nev{
    color: #2195f2;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.cards_wrap .card_item .presentation{
    font-size: 20px;
    line-height: 24px;
    color: #4f5b6c;
    text-align: center;
    transition: all 0.6s;
}

.cards_wrap .card_item .presentation:hover {
    transform: scale(1.05);
}

.cards_wrap .card_item .social_media {
    font-size: 30px;
    line-height: 24px;
    color: #4f5b6c;
    text-align: center;
    padding-top: 30px;
}

.cards_wrap .card_item i:hover {
    color: blue;
}

.cards_wrap .card_item a {
    color: #777777;
    font-size: 30px;
}
.cards_wrap .card_item .contact {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
}

.cards_wrap .card_item .contact a {
    text-align: center;
    color: #777777;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .cards_wrap .card_item{
        width: 33%;
    }
}

@media screen and (max-width: 768px){
    .cards_wrap .card_item{
        width: 50%;
    }
    .wrapper .header{
        font-size: 16px;
        height: 60px;
    }
}

@media screen and (max-width: 568px){
    .cards_wrap .card_item{
        width: 100%;
    }
    .wrapper .header{
        font-size: 14px;
    }
}

.features .card_item {
    transition: all 0.8s;
}

.features .card_item .presentation {
    margin-top: 20px;
    font-size: 0.8rem;
    line-height: normal;
}

.features .card_item .presentation a {
    font-size: 0.8rem;
    color: #002bff;
}

.features .card_item:nth-child(2n) {
    margin-top: 60px;
}

.floating_card{
    transform: translateY(-7%);
    animation: floating 5s infinite;
    transition: ease 0.3s;
}

.floating_cardd2{
    transform: translateY(7%);
    animation: floatingg2 5s infinite;
    transition: ease 0.3s;
}

.techstimg {
    transition: all 0.8s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.techstimg:hover {
    transform: scale(1.03);
}



@keyframes floating {
    0%{transform: translateY(-7%);transition: ease 0.5s;}
    50%{transform: translateY(7%);transition: ease 0.5s;}
}

@keyframes floatingg2 {
    0%{transform: translateY(7%);transition: ease 0.5s;}
    50%{transform: translateY(-7%);transition: ease 0.5s;}
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
}

.hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
    position: absolute;
    width:50%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
    -ms-transform: rotate3d(0,0,0,0deg);
    transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    background-color: rgba(0, 128, 128, 0.8);
    font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
    bottom: 50%;
    padding-top:50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform:translate3d(0,-100%,0);
    -ms-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
}
.hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.hex p {
    top: 50%;
    padding-bottom:50%;
    -webkit-transform:translate3d(0,100%,0);
    -ms-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
    #hexGrid{
        padding-bottom: 4.4%
    }
    .hex {
        width: 25%; /* = 100 / 5 */
    }
    .hex:nth-child(9n+6){ /* first hexagon of even rows */
        margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    #hexGrid{
        padding-bottom: 5.5%
    }
    .hex {
        width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
        margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    #hexGrid{
        padding-bottom: 7.4%
    }
    .hex {
        width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
        margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
    #hexGrid{
        padding-bottom: 11.2%
    }
    .hex {
        width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
        margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}