html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);

}
#setting-page {
    position: absolute;
    overflow: visible;
    width: auto;
    color: var(--font-color);
}

.sett-header {
    text-align: center;
    padding: 14px 16px;
    border-bottom: 1px solid #333333;
}

.sett-header h2 {
    margin: 0;
    font-weight: 500;
}

.theme-dark {
    --color-primary: #0060df;
    --color-secondary: #171718;
    --color-accent: #539dfd;
    --font-color: #ffffff;
}

.theme-black {
    --color-primary: #5f5f5f;
    --color-secondary: #000000;
    --color-accent: #000000;
    --font-color: #ffffff;
}

.theme-light {
    --color-primary: #a2a2a2;
    --color-secondary: #ffffff;
    --color-accent: #9e9e9e;
    --font-color: #000000;
}

.theme-blue {
    --color-primary: #0A2647;
    --color-secondary: #144272;
    --color-accent: #205295;
    --font-color: #ffffff;
}

.theme-purple {
    --color-primary: #2D033B;
    --color-secondary: #810CA8;
    --color-accent: #C147E9;
    --font-color: #ffffff;
}

.theme-lightblue {
    --color-primary: #2155CD;
    --color-secondary: #0AA1DD;
    --color-accent: #79DAE8;
    --font-color: #ffffff;
}

.theme-sunset {
    --color-primary: #F9ED69;
    --color-secondary: #F08A5D;
    --color-accent: #B83B5E;
    --font-color: #515151;
}

.theme-lime {
    --color-primary: #071A52;
    --color-secondary: #086972;
    --color-accent: #17B978;
    --font-color: #ffffff;
}

.theme-sea {
    --color-primary: #00E0FF;
    --color-secondary: #74F9FF;
    --color-accent: #A6FFF2;
    --font-color: #000000;
}

.container1 {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;

}

.container h2 {
    color: var(--font-color);
    font-family: sans-serif;
}
.container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.palette {
    width: 200px;
    height: auto;
}

.color {
    width: 200px;
    height: 40px;
}

.colors {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.color h2 {
    text-align: center;
}