<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hype</title>
    <link rel="stylesheet" href="/CSS/chat.css"/>
    <link rel="stylesheet" href="/CSS/hype.css"/>
    <link rel="stylesheet" href="/CSS/navbar.css"/>
    <link rel="icon" type="image/x-icon" href="/Media/hype.gif">
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<!-- NAVBAR -->
<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    
    <a href="/login" style="float:right;" sec:authorize="!isAuthenticated()">Log In</a>
    <a href="/logout" style="float:right;" sec:authorize="isAuthenticated()">Log Out</a>

    <a sec:authorize="isAuthenticated()" href="#" style="float: right">
        Signed In As: <span sec:authentication="name">USERNAME</span></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Please log in to start chatting</h1>

        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" autocomplete="off" class="input" required/>
                <input type="password" id="password" placeholder="Password  (DISABLED)" autocomplete="off" class="input" disabled/>
            </div>
            <div class="form-group">
                <button type="submit" class="start-button">Start Chatting</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="contact-container">
        <div class="chat-header">
            <h2>Contacts</h2>
        </div>
        <ul id="contactArea">
            <p>Pre-Defined Test Contacts</p>
            <li class="chat-message" id="test" onclick="getContactName(this)">
                <i style="background-color: rgb(255, 193, 7);">T</i>
                <span>test</span>
                <p>Last message</p>
            </li>
            <li class="chat-message" id="test2" onclick="getContactName(this)">
                <i style="background-color: rgb(0,255,191);">T</i>
                <span>test2</span>
                <p>Last message</p>
            </li>
            <hr>
            <p>Contacts Loaded From Database</p>
            <!--EZ IGY NEM MARADHAT!!!! AZ ID BEALLITASANAL, MERT HA 2 UGYAN OLYAN NEVU FELHASZNALO VAN AKKOR MEGHAL!!
            KI KELL MAJD CSERELNI FELHASZNALO ID-RE (contact.id) ES AZ UZENET KULDESI MODOT MEGVALTOZTATNI FELHASZNALO
             NEVROL ID RE.-->
            <li class="chat-message" th:each="contact : ${contacts}" th:id="${contact.userName}" onclick="getContactName(this)">
                <i style="background-color: rgb(200,0,255);">T</i>
                <span th:text="${contact.userName}">username comes here</span>
                <p>Last message comes here</p>
            </li>
            <hr>
            <!-- Thymeleaf megszerzi a bejelentkezesi tokent, ha be vagy jelentkezve
             fontos dolog, a kesobbiekben hasznalni fogjuk. -->
            <div sec:authorize="isAuthenticated()">
                Signed In As <span sec:authentication="name"></span></div>
        </ul>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <h2 class="contactName"><span class="hype">HYPE</span> Chat Demo</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Send a message with HYPE!" autocomplete="off"
                           class="input"/>
                    <button type="submit" class="start-button">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/JS/chat.js"></script>
</body>
</html>