<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hype</title>
    <link rel="stylesheet" href="/CSS/chat.css"/>
    <link rel="stylesheet" href="/CSS/hype.css"/>
    <link rel="stylesheet" href="/CSS/navbar.css"/>
    <link rel="stylesheet" href="/CSS/sidenav.css"/>
    <link rel="icon" type="image/x-icon" href="/Media/hype.gif">
    <script src="https://kit.fontawesome.com/02ff1d2c53.js" crossorigin="anonymous"></script>
    <script src="/JS/navbar.js"></script>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="chat-header">
        <h2>Contacts</h2>
    </div>
    <ul id="contactArea">
        <!--EZ IGY NEM MARADHAT!!!! AZ ID BEALLITASANAL, MERT HA 2 UGYAN OLYAN NEVU FELHASZNALO VAN AKKOR MEGHAL!!
        KI KELL MAJD CSERELNI FELHASZNALO ID-RE (contact.id) ES AZ UZENET KULDESI MODOT MEGVALTOZTATNI FELHASZNALO
         NEVROL ID RE.-->
        <li class="chat-message" th:each="contact : ${contacts}" th:id="${contact.userName}"
            onclick="getContactName(this)">
            <i style="background-color: rgb(200,0,255);">T</i>
            <span th:text="${contact.userName}">username comes here</span>
            <p>Utolso uzenet</p>
        </li>

        <hr>
        <!-- Thymeleaf megszerzi a bejelentkezesi tokent, ha be vagy jelentkezve
         fontos dolog, a kesobbiekben hasznalni fogjuk. -->
        <div sec:authorize="isAuthenticated()">
            Signed In As <span sec:authentication="name"></span></div>
    </ul>
</div>

<div class="main">

</div>

<!-- NAV(nemzeti ado- es vamhivatal)(elf)BAR -->
<div class="topnav" id="myTopnav">
    <a onclick="openNav()">&#9776; Contacts</a>
    <a href="/" class="hype">HYPE</a>
    <a href="/register"><i class="fa fa-key"></i> Register</a>
    <a href="/chat" class="active"><i class="fa fa-comment-dots"></i> Chat</a>
    <a href="/admin"><i class="fa fa-user"></i> Admin Page</a>

    <!-- Profil -->
    <div class="dropdown">
        <button class="dropbtn" sec:authorize="isAuthenticated()">
            <i class="fa fa-user"></i> <span sec:authentication="name">USERNAME</span></a>
        </button>
        <div class="dropdown-content">
            <a href="#">My Profile</a>
            <!-- Login / Logout -->
            <a href="/logout" class="logout" sec:authorize="isAuthenticated()"><i class="fa fa-sign-out"
                                                                                  style="background: transparent"></i></a>
        </div>
    </div>
    <a href="/login" class="login" sec:authorize="!isAuthenticated()"><i class="fa fa-sign-in"></i></a>
    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
</div>

<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2 class="contactName"><span class="hype">HYPE</span> Chat Demo</h2>
        </div>
        <div class="connecting">
            <p class="hype">ERROR</p>
            <p>Connecting...<br>Please Log In Or Connect To The Internet</p>
        </div>
        <ul id="messageArea">
            <li class="chat-message" th:each="message : ${messages}" th:id="${message.sender}">
                <i style="background-color: rgb(200,0,255);">T</i>
                <span th:text="${message.sender}">username comes here</span>
                <p th:text="${message.content}">Uzenet</p>
            </li>
        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Send a message with HYPE!" autocomplete="off"
                           class="input"/>
                    <button type="submit" class="start-button">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/JS/chat.js"></script>
</body>
</html>