<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="icon" type="image/x-icon" href="/Media/hype.gif">
    <link rel="stylesheet" href="/CSS/navbar.css"/>
    <script src="https://kit.fontawesome.com/02ff1d2c53.js" crossorigin="anonymous">
    </script>

    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

        tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/register">Register</a>
    <a href="/login" style="float:right; color: #fffef0; background-color: #29ce5e" sec:authorize="!isAuthenticated()">Sign In</a>
    <a href="/logout" style="float:right; color: white; background-color: #ec1f1f" sec:authorize="isAuthenticated()"><i class="fa fa-sign-out" style="background: transparent"></i></a>

    <a sec:authorize="isAuthenticated()" href="#" style="float: right">
        Signed In As: <span sec:authentication="name">USERNAME</span></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<h1>Users Table</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}">id</td>
        <td th:text="${contact.userName}">username</td>
        <td th:text="${contact.email}">email</td>
    </tr>
</table>

</body>
</html>