* {
    background-color: black;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Comfortaa;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #000000;
    height: 100%;
}

@font-face {
    font-family: Comfortaa;
    src: url("../Media/Comfortaa-Bold.ttf");
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 20px;
}

.row {
    margin: auto;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .team {
        display: none;
        transform: translateY(-1vh);
    }

    .project {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .column {
        width: 90%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: -5px 5px 5px 0 rgba(255, 255, 255, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #111;
    border-radius: 6px;
}

.card img {
    width: 100%;
}

.card h3, p, i {
    color: white;
    background: transparent;
}

.card h3 {
    font-size: 25px;
}


.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #282828;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    background: transparent;
}

button:hover, a:hover {
    opacity: 0.7;
}

h1, h2, h3, h4{
    text-align: center;
}

h5{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: right;
    font-size: 60px;
}

h6{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: left;
    font-size: 60px;
}

h1 {
    font-size: 100px;
    font-family: Comfortaa;
}

h2 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Comfortaa;
}

.title-div {
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.button {
    margin: 20px;
}


.project p {
    font-family: Arial;
    margin: auto;
    text-align: justify;
    width: 60%;
    font-size: 20px;
    letter-spacing: 2px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

table {
    font-family: Comfortaa;
    border-collapse: collapse;
    width: 100%;
}

.techStack {
    font-size: 30px;
    margin: auto;
    text-align: center;
    width: 33%;
}

th {
    border: 1px solid #000000;
    padding: 5px;
}

i {
    background: transparent;
}

.hidden{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-10vw);
}
.hidden2{
    opacity: 0;
    transition: all 2s;
    transform: translateX(10vw);
}
.hidden3{
    opacity: 0;
    transition: all 2s;
    transform: translateY(10vh);
}
.show{
    opacity: 1;
    transform: translateX(0vw);
    transform: translateY(0vh);
}

.card:nth-child(2){
    transition-delay: 200ms;
}
.card:nth-child(3){
    transition-delay: 400ms
}
.card:nth-child(4){
    transition-delay: 600ms
}
.card:nth-child(5){
    transition-delay: 800ms
}

.text:nth-child(2){
    transition-delay: 400ms
}

.text:nth-child(3){
    transition-delay: 800ms
}
.text:nth-child(4){
    transition-delay: 1200ms
}
.text:nth-child(5){
    transition-delay: 1600ms
}
.text:nth-child(6){
    transition-delay: 2000ms
}
.text:nth-child(7){
    transition-delay: 2400ms
}

strong {
    background: transparent;
}

.alert {
    text-align: center;
    padding: 20px;
    background-color: #2196F3;
    color: white;
}

.alert .signature {
    font-size: 12px;
    font-style: italic;
    background: transparent;
    float: right;
    text-align: right;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.closebtn:hover {
    color: black;
}
