* {
    background-color: black;
    color: white;
}
@font-face {
    font-family: Comfortaa;
    src: url("public/Media/Comfortaa-Bold.ttf");
}

.card {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Comfortaa;
    position: static;
}

.card-container {
    padding: 50px;
    display: flex;
}

.card-title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
}

button:hover, a:hover {
    opacity: 0.7;
}

h1, h2, h3, h4{
    text-align: center;
}

h5{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: right;
    font-size: 60px;
}

h6{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: left;
    font-size: 60px;
}

h1 {
    font-size: 100px;
    font-family: Comfortaa;
}

h2 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Comfortaa;
}

.title-div {
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.button {
    margin: 20px;
}


.project p {
    font-family: Arial;
    margin: auto;
    text-align: left;
    width: 60%;
    font-size: 20px;
    letter-spacing: 2px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

table {
    font-family: Comfortaa;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #000000;
    padding: 5px;
}
