* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Comfortaa;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #000000;
    height: 100%;
}

@font-face {
    font-family: Comfortaa;
    src: url("../Media/Comfortaa-Bold.ttf");
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input, select {
    color: black;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 40px;
    margin-top: 10px;
}

.container i {
    padding-top: 22px;
    padding-left: 15px;
    color: #777777;
    min-width: 20px;
    text-align: left;
    position: absolute;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

input::placeholder {
    color: #777777;
}

.container {
    background-color: #cccccc;
    box-shadow: 0 0px 30px rgba(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 50px;
    margin-top: 50px;
    text-align: center;
}

#container1 {
    float: left;
}

#container2 {
    float: right;
}

label p {
    text-align: left;
    color: #777777;
    margin-bottom: -10px;
}