<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/Media/hype.gif">
    <link rel="stylesheet" href="/CSS/login.css"/>
    <link rel="stylesheet" href="/CSS/hype.css"/>
    <link rel="stylesheet" href="/CSS/button.css"/>
    <link rel="stylesheet" href="/CSS/navbar.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/02ff1d2c53.js" crossorigin="anonymous">
    </script>
    <script src="/JS/navbar.js"></script>
</head>
<body>

<!-- NAV(nemzeti ado- es vamhivatal)(elf)BAR -->
<div class="topnav" id="myTopnav">
    <a href="/" class="hype">HYPE</a>
    <a href="/register"><i class="fa fa-key"></i> Register</a>
    <a href="/chat"><i class="fa fa-comment-dots"></i> Chat</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScMh7Cp-q28b6RnkVU_rUJD7vTUbkEuBcBKjQ6xmU0iwqE5zg/viewform?fbzx=-4144298480465207363"><i class="fa fa-wpforms"></i> Kérdőív</a>

    <!--olvasatlan üzenetek-->
    <div class="unread-count" style="float: right" sec:authorize="isAuthenticated()"><p style="user-select: none">2</p></div>
    <div class="dropdown" style="float: right">
        <a class="dropbtn" sec:authorize="isAuthenticated()">
            <i class="fa-solid fa-bell"></i>
        </a>
        <div class="dropdown-content unread-message" id="unreadMessages">

        </div>
    </div>

    <!-- Profil -->
    <div class="dropdown">
        <a class="dropbtn" sec:authorize="isAuthenticated()">
            <i class="fa fa-user"></i> <span id="user" sec:authentication="name">USERNAME</span></a>
        </a>
        <div class="dropdown-content">
            <a href="#">My Profile</a>
            <!-- Login / Logout -->
            <a href="/logout" class="logout" sec:authorize="isAuthenticated()"><i class="fa fa-sign-out" style="background: transparent"></i></a>
        </div>
    </div>
    <a href="/login" class="login" sec:authorize="!isAuthenticated()"><i class="fa fa-sign-in"></i></a>
    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
</div>

<div class="container">
    <h1 class="title">Welcome Back!<br>Please Log In!</h1>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have successfully logged out.
        </div>
        <div class="input-icons">
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Username" id="username" name="username" required autocomplete="off">
            </div>

            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Password" id="password" name="password" required th:value="*{password}">
            </div>

            <br>
            <button type="submit" class="button">Log In!</button>
        </div>
    </form>
</div>
</body>
</html>